/* @font-face {
	font-family: Ubuntu-Bold;
	font-display: swap;
	src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf');
} */

@font-face {
	font-family: Ubuntu-Light;
	font-display: swap;
	src: url('/assets/fonts/Ubuntu/Ubuntu-Light.ttf');
}
/* 
@font-face {
	font-family: Ubuntu-Medium;
	font-display: swap;
	src: url('/fonts/Ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
	font-family: Ubuntu-Regular;
	font-display: swap;
	src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf');
} */
